@font-face {
	font-family: 'Bellota-LightItalic';
	src: url('../fonts/Bellota-LightItalic.otf');
}

@font-face {
	font-family: 'Bellota-BoldItalic';
	src: url('../fonts/Bellota-BoldItalic.otf');
}

*:focus {
	outline: none;
}

body {
	line-height: 17px;
	background-color: #e6eae8;
}

a {
	color: #495190;
	text-decoration: none;
}

.top_bar {
	width: 100%;
	height: 70px;
	background-color: #495190;
	border-bottom: 0.25em solid #495190;
	display: inline-flex;
	align-items: center;
	justify-content: space-between;
}

.logo a {
	font-family: 'Bellota-BoldItalic', sans-serif;
	margin-left: 10px;
	font-size: 30px;
	text-shadow: #495190 0.5px 0.5px 0px;
	color: #fff;
}

a:hover {
	text-decoration: none;
}

nav {
	margin-right: 10px;
}

nav a {
	position: relative;
	color: #fff;
	text-decoration: none;
	font-size: 17px;
	margin: 5px;
	padding-bottom: 10px;
}

nav a:hover {
	border-bottom: 5px solid #fff;
	color: #fff;
}

nav a:last-of-type:hover {
	border: none;
	transform: scale(1.2);
}

nav a:last-of-type i {
	transition: all 0.2s ease-in-out;
}

nav a:last-of-type:hover i {
	transform: scale(1.3);
}

.wrapper {
	margin: 10 auto;
	display: flex;
	justify-content: space-between;
	width: 80%;
	min-width: 950px;
}

.column {
	background-color: #fff;
	padding: 10px;
	border: 1px solid #d3d3d3;
	border-radius: 5px;
	box-shadow: 5px 5px 15px #000;
	color: #555;
}

.user_details {
	display: flex;
	flex-flow: column;
	width: 22%;
	margin-bottom: 10px;
	height: 200px;
}

.user_details img {
	height: 120px;
}

.user_details_left_right {
	margin-top: 10px;
	width: 120px;
}

.main_column {
	width: 75%;
	min-height: 170px;
}

.post_form {
	width: 100%;
}

.post_form textarea {
	width: 81%;
	height: 60px;
	border-radius: 3px;
	margin-right: 5px;
	border: 1px solid #d3d3d3;
	font-size: 12px;
	padding: 5px;
}

textarea:focus {
	outline: 0;
}

.post_form input[type='submit'] {
	width: 11%;
	height: 60px;
	border: none;
	border-radius: 3px;
	background-color: #495190;
	font-family: 'Bellota-BoldItalic', sans-serif;
	color: #fff;
	text-shadow: #495190 0.5px 0.5px 0px;
	font-size: 90%;
	position: absolute;
	outline: 0;
	margin: 0;
}

.post_form input[type='submit']:active {
	padding: 5px 4px 4px 5px;
}

.status_post {
	width: 96%;
	font-size: 15px;
	padding: 0px 5px;
	min-height: 75px;
	cursor: pointer;
}

.post_profile_pic {
	float: left;
	margin-right: 7px;
}

.post_profile_pic img {
	border-radius: 5px;
}

#comment_iframe {
	max-height: 250px;
	width: 100%;
	margin-top: 5px;
}

.comment_section {
	padding: 0 5px 5px 5px;
}

.comment_section img {
	margin: 0 3px 3px 3px;
	border-radius: 3px;
}

#comment_form textarea {
	border-color: #d3d3d3;
	width: 85%;
	height: 35px;
	border-radius: 5px;
	color: #616060;
	font-size: 14px;
	margin: 3px 3px 3px 5px;
}

#comment_form input[type='submit'] {
	border: none;
	background-color: #495190;
	color: #fff;
	border-radius: 5px;
	width: 13%;
	height: 35px;
	margin-top: 3px;
	position: absolute;
	font-family: 'Bellota-BoldItalic', sans-serif;
	text-shadow: #495190 0.5px 0.5px 0px;
}

.newsfeedPostOptions {
	padding: 0px;
	text-decoration: none;
	color: #495190;
	border: none;
}

.newsfeedPostOptions iframe {
	border: 0px;
	height: 17px;
	width: 120px;
}

.profile_left {
	width: 17%;
	width: 240px;
	height: 100%;
	background-color: #495190;
	border-right: 10px solid #495190;
	color: #cbeaf8;
	margin-right: 20px;
}

.profile_left img {
	min-width: 80px;
	width: 55%;
	margin: 20px;
	border: 5px solid #495190;
	border-radius: 100px;
}

.profile_info {
	display: list-item;
	background-color: #495190;
	width: 100%;
	padding: 10px 0 10px 0;
}

.profile_info p {
	margin: 0 0 0 20px;
	word-wrap: break-word;
}

.danger {
	background-color: #e74c3c;
}

.warning {
	background-color: #f0ad4e;
}

.default {
	background-color: #bdc3c7;
}

.success {
	background-color: #2ecc71;
}

.info {
	background-color: #3498db;
}

.deep_blue {
	background-color: #495190;
}

.profile_left input[type='submit'] {
	width: 90%;
	height: 30px;
	border-radius: 5px;
	margin: 7px 0 0 7px;
	border: none;
	background-color: #fff;
	color: #495190;
}
.profile_left input[type='submit']:hover {
	background-color: #f4f4f4;
}

#accept_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #2ecc71;
}

#ignore_button {
	width: 20%;
	height: 28px;
	border-radius: 5px;
	margin: 5px;
	border: none;
	color: #fff;
	background-color: #e74c3c;
}

.delete_button {
	height: 22px;
	width: 22px;
	padding: 0;
	float: right;
	border-radius: 4px;
	right: -15px;
	position: relative;
}

.profile_main_column {
	min-width: 675px;
	float: left;
	width: 70%;
	margin: 10px auto;
}

.profile_info_bottom {
	margin: 10 0 0 7px;
}

#grey {
	color: #8c8c8c;
}

.resultDisplay {
	padding: 5px 5px 0 5px;
	height: 70px;
	border-bottom: 1px solid #d3d3d3;
}

.resultDisplay a {
	float: none;
}

.resultDisplay:hover {
	background-color: #ebebeb;
	text-decoration: none;
}

.liveSearchProfilePic img {
	height: 50px;
	border-radius: 25px;
	margin: 1px 12px 0 2px;
	float: left;
}

.liveSearchText {
	background-color: transparent;
	color: #495190;
}

.liveSearchText p {
	margin-left: 10px;
	font-size: 12px;
}

.tab-content {
	margin-top: 25px;
}

.dropdown_data_window {
	background-color: #fff;
	border: 1px solid #dadada;
	border-radius: 0 0 8px 8px;
	border-top: none;
	width: 300px;
	position: absolute;
	right: 10px;
	top: 40px;
	overflow: scroll;
}

.notification_badge {
	padding: 3px 7px;
	font-size: 12px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #f00;
	border-radius: 10px;
	position: absolute;
	left: 8px;
	top: -5px;
}

.resultDisplayNotification {
	height: auto;
	color: #495190;
	padding-bottom: 7px;
}

.resultDisplayNotification img {
	height: 40px;
	border-radius: 5px;
	margin: 1px 12px 0px 2px;
	float: left;
}

.timestamp_smaller {
	font-size: 85%;
	margin: 0;
}

.search-form-container {
	display: flex;
	margin: 0;
}

.search #search_text_input {
	border: thin solid #e5e5e5;
	height: 40px;
	outline: 0;
	width: 100px;
	padding-left: 15px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

.button_holder {
	background-color: #f1f1f1;
	border: thin solid #e5e5e5;
	cursor: pointer;
	height: 40px;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.button_holder img {
	width: 20px;
}

.search_results {
	background-color: #fff;
	border: 1px solid #dadada;
	border-bottom: none;
	border-top: none;
}

.search_results_footer {
	padding: 7px 4px 0px 4px;
	height: 30px;
	border: 1px solid #dadada;
	border-top: none;
	background-color: #495190;
	text-align: center;
}

.search_results_footer a {
	color: #fff;
}

.search_result {
	padding: 10px;
	height: 100px;
}

.searchPageFriendButtons {
	float: right;
}

.searchPageFriendButtons input[type='submit'] {
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	color: #fff;
}

.result_profile_pic {
	float: left;
	margin-right: 10px;
}

#search_hr {
	margin-bottom: 0px;
}

.small_profile_pic {
	height: 55px;
	margin: 1px 12px 0 2px;
	float: left;
}

#settings_input,
#settings_input_last_name,
#settings_input_acc,
#settings_input_old,
#settings_input_new,
#settings_input_change_passw {
	display: block;
	border: 1px solid #ccc;
	border-radius: 6px;
	height: 30px;
	padding: 4px 6px;
	margin: 5px;
	font-size: 14px;
	width: calc(100% - 10px);
}

.label-settings {
	display: flex;
	border-radius: 6px;
	align-items: center;
	padding-left: 10px;
	height: 40px;
	font-weight: bold;
	background-color: #f4f4f4;
	color: #000;
}

.settings_submit {
	margin-left: 5px;
	border: none;
	padding: 7px 12px;
	border-radius: 5px;
	background-color: #495190;
	color: #fff;
}

.users-table {
	padding-left: 5px;
	width: 100%;
}

.users-header-row {
	background-color: #495190;
	height: 40px;
	text-align: center;
	color: white;
	padding: 5px 0;
}

.users-row {
	background-color: #f4f4f4;
	text-align: center;
	height: 30px;
}

.users-row td a:hover {
	color: rgb(179, 0, 0);
}
